/* ================== GLOBAL ================== */

/* Testing purposes */
* {
	border: 0px solid red;
}

html {
	padding-top: 20px;
	padding-bottom: 20px;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

h1 {
	color: black;
	text-shadow: 1px 1px gray;
}

h1, button {
	margin: 0 auto;
	margin-bottom: 10px;
}

h2 {
	text-align: center;
}

.wide-button {
	width: 660px;
}

/* ================== CREATE POSTCARD ================== */

#postcard {
	width: 660px;
	height: 500px;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	background: gray;
	border: 10px solid black;
	border-radius: 10px;
	margin-bottom: 10px;
} 

#webcam, #picture {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#video {
	position:relative
}

.literally {
  height: 100%;
}

.joyride-next-tip {
	margin-left: 15px;
}

/* ================== SHARE POSTCARD ================== */

#share {
	width: 660px;
	margin: 0 auto;
}

/* ================== SENT POSTCARD ================== */

#sent {
	padding-top: 200px;
	width: 660px;
	margin: 0 auto;
	text-align: center;
}

#make-another{
	margin-top: 20px;
}
